html{
  font-size: 18px;                         /*Sets the base font size*/
}

body{
  background-color: black;                /*Sets the background for color for the entire page*/
  color: white;                          /*Default font colour for the entire page*/
  font-family: Helvetica;                /*Defaut font size*/
}

.sitecontainer{
  display: flex;
  max-width: 960px;
  margin: 0 auto;                        /*To keep the container in the middle of the page*/
  justify-content: space-between;
  flex-grow: 1;
}

/*To keep the logo image and the test togeather aligned to the left*/
#logoimgtxt{
  justify-content: flex-start;
}


/*Style the size of logo image and its margin*/
.sitecontainer .logo{
  height: 1.5rem;
  width: auto;
  padding: 0px;
  margin: auto 1rem auto 0.5rem;
}

.sitecontainer .logotext{               /*Styles the text acompanying the logo image*/
  margin: 0.66rem 0px;
  font-size: 1rem;
}

/*Styhles the main banner image*/
.mainbanner{
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Styles the textbox floating over the main banner*/
.mainbanner .sitecontainer .bannertextbox{
  margin-top: 9rem;
  background-color: black;
  padding: 0px;
  /*display: flex;*/
}

/*Styles the text in the textbox floating over the main banner*/
.mainbanner .sitecontainer .bannertextbox .bannertext{
  margin: 2rem 3rem;
  max-width: 20rem;
}

/*Styles the small text in the textbox floating over the main banner*/
.mainbanner .sitecontainer .bannertextbox .bannertext span{
  font-size: 1rem;
  font-weight: bold;
}

/*Styles the large text in the textbox floating over the main banner*/
.mainbanner .sitecontainer .bannertextbox .bannertext p{
  font-size: 2rem;
  font-weight: bold;
  margin: 0.25rem 0rem 0rem 0rem;
  padding: 0px;
}

/*Styles the navigation bar background color*/
.navigation{
  background-color: firebrick;
  display: flex;
  padding: 0.75rem 0rem;
  /*border: 2px solid green;*/
}

/*Sets the background colour of the product grid*/
.productgrid{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border: 2px solid red;*/
}

/*Styles the aignment of the box containing the images and the caption in the product grid (product images)*/
.productgrid .sitecontainer{
  width: 100%;
  display: flex;
  /*border: 1px solid green;*/
}

/*Styles the individula container holding the image and the caption in the product grid*/
.productgrid .sitecontainer .pen, .productgrid .sitecontainer .watch, .productgrid .sitecontainer .glasses{
  margin: 3rem 0rem;
  border: 4px solid black;
  width: 30%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

/*For the container holding only the image in the box of the product grid*/
.productgrid .sitecontainer .imgcontainer{
  display: flex;
  align-items: center;
  height: 9rem;
  margin: 2rem 0rem;
}

/*Styles only the image of the product*/
.productgrid .sitecontainer .imgcontainer img{
  width: 9rem;
  height: auto;
}

/*Styles the caption below the images in the product grid*/
.productgrid .sitecontainer p{
  background-color: black;
  margin: 0px;
  width: 100%;
  padding: 0.5rem 0rem;
  text-align: center;
}

/*Styles the location and the timings box just below the product grid*/
.productgrid .sitecontainer .location, .productgrid .sitecontainer .hours{
  margin: 0rem;
  width: 35%;
}

/*Styles the caption of the box in the location and timing container*/
.productgrid .sitecontainer .location .caption, .productgrid .sitecontainer .hours .caption{
  background-color: black;
  padding: 1rem 2rem;
  margin: 0px 0px 5px 0px;
}

/*Styles the value in the location and the timmings box*/
.productgrid .sitecontainer .location .value, .productgrid .sitecontainer .hours .value{
  background-color: white;
  color: black;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

/*Space between the last content and footer*/
#locationhours{
  margin: 0rem auto 4rem auto;
}

/*Styles the flexbox of the footer*/
.sitecontainer footer{
  display: flex;
  align-items: center;
}

.sitecontainer footer{
  height: 5rem;
}

@media only screen and (min-width: 769px){
  .navigation .sitecontainer .tab{
    display: none;
  }
}

/*This section is for the display between mobile and tablets or on a screen having resolution of max-width 768px*/

@media only screen and (max-width: 768px){
  .navigation .sitecontainer .desk{
    display: none;
  }

  .navigation .sitecontainer{
    justify-content: center;
  }

  .productgrid .sitecontainer .glasses{
    display: none;
  }

  .productgrid .sitecontainer .pen, .productgrid .sitecontainer .watch{
    width: 47%;
  }
}

@media only screen and (max-width: 480px){
  .mainbanner .sitecontainer .bannertextbox{
    margin-top: 10rem;
    padding: 1rem 2rem;
    width: 100%;
  }

  .mainbanner .sitecontainer .bannertextbox .bannertext{
    margin: 0rem;
    width: 100%;
  }

  .mainbanner .sitecontainer .bannertextbox .bannertext span{
    font-size: 0.77rem;
    font-weight: bold;
  }

  .mainbanner .sitecontainer .bannertextbox .bannertext p{
    font-size: 1rem;
    font-weight: bold;
    margin: 0.25rem 0rem 0rem 0rem;
    padding: 0px;
  }

  .mainbanner{
    height: 15rem;
  }

  .productgrid .sitecontainer .watch{
    display: none;
  }

  .productgrid .sitecontainer .pen{
    width: 90%;
  }

  .productgrid .sitecontainer{
    justify-content: center;
  }

  #locationhours{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .productgrid .sitecontainer .location, .productgrid .sitecontainer .hours{
    width: 90%;
    margin: 0.25rem 0rem;
  }

  .sitecontainer footer{
    margin: 0 auto;
  }
}
